<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div th:switch="${eventos}">
    <h2 th:case="null">Nenhum evento cadastrado!</h2>
        <div th:case="*">
            <h2>Eventos</h2>
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Descricao</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="evento : ${eventos}">
                    <td th:text="${evento.nome}"></td>
                    <td th:text="${evento.descricao}"></td>
                    <td><a th:href="@{/edit/{id}(id=${evento.id})}">Edit</a></td>
                    <td><a th:href="@{/delete/{id}(id=${evento.id})}">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>      
    <p><a href="/signup">Add a new evento</a></p>
</div>
</body>
</html>